*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
:root{
    --cor01: #2d2253; 
    --cor02: #3e3364;
    --cor03: #4b4364;
    --cor04: #675c86;
}

body{
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor01));
}

/* Cabeçalho e barra de navegação */
header{
    background-color: var(--cor01);
    text-align: center;
    color: white;
}

header > h1{
    padding: 20px;
    /* font-variant: ; */
    /* text-transform: uppercase; */
}
header > h5{
    padding-bottom: 10px;
}

nav{
    background-color: var(--cor02);
    padding: 5px 10px;
}

nav > ul > li{
    display: inline;
    padding: 1px 0;
}
nav > ul > li > a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
nav > ul > li > a:hover{
    text-decoration: underline;
    color: #8b7cb8;
    background-color: var(--cor01);
    border-radius: 3px;
    transition: .3s;
}

/* Conteúdo do site - Main */
main{
    margin: auto;
    padding: 20px;
    max-width: 850px;
    color: rgb(245, 245, 245);
}

main > h1{
    padding: 25px 0;
    text-align: center;
    text-transform: uppercase;
}
main > h2{
    padding: 25px 0;
}

main > ul > li{
    padding: 4px 0;
}

/* Links no Main */
main > p{
    line-height: 1.8em;
    text-indent: 2em;
    padding: 1.3em 0;
}

main > p > a{
    color: white;
    font-weight: bolder;
}

main > address > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}
main > address > a:hover{
    font-size: 1.1em;
}

main > ul > li > a{
    color: lightgray;
    font-weight: bold;
    
}

/* Imagens */
img#escola{
    width: 95%;
    border: 1px solid black;
    border-radius: 8px;
    margin: 20px 0;
}

/* Iframes */
iframe{
    width: 100%;
    height: 30em;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 8px;
}

/* Rodapé */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 56px;
}